{% extends "base.html" %}
{% comment %}
SPDX-License-Identifier: GPL-2.0-or-later
{% endcomment %}

{% load bootstrap3 %}
{% load i18n %}

{% block title %}Profil{% endblock %}

{% block content %}
    <h2>Compte</h2>
    <div>
        <a class="btn btn-primary btn-sm" role="button" href="{% url 'users:edit-info' user.id %}">
            <i class="glyphicon glyphicon-edit"></i>
            Editer
        </a>
        <a class="btn btn-primary btn-sm" role="button" href="{% url 'password_change' %}">
            <i class="glyphicon glyphicon-lock"></i>
            Changer le mot de passe
        </a>
    </div>
    <dl class="dl-horizontal row profile-info pt4">
        <div class="col-md-6">
            <dt>{% trans "first name" as rel %}{{ rel|capfirst }}</dt>
            <dd>{{ user.first_name }}</dd>
        </div>
        <div class="col-md-6">
            <dt>{% trans "last name" as rel %}{{ rel|capfirst }}</dt>
            <dd>{{ user.last_name }}</dd>
        </div>
        <div class="col-md-6">
            <dt>{% trans "username" as rel %}{{ rel|capfirst }}</dt>
            <dd>{{ user.username }}</dd>
        </div>
        <div class="col-md-6">
            <dt>{% trans "email address" as rel %}{{ rel|capfirst }}</dt>
            <dd>{{ user.email }}</dd>
        </div>
        <div class="col-md-6">
            <dt>Commentaire</dt>
            <dd>{{ user.comment }}</dd>
        </div>
        <div class="col-md-6">
            <dt>{% trans "date joined" as rel %}{{ rel|capfirst }}</dt>
            <dd>{{ user.registered }}</dd>
        </div>
        <div class="col-md-6">
            <dt>{% trans "last login" as rel %}{{ rel|capfirst }}</dt>
            <dd>{{ user.last_login }}</dd>
        </div>
        <div class="col-md-6">
            <dt>Statut</dt>
            <dd>{% if user.state == 0 %}
                <i class="text-success">Actif</i>
            {% elif user.state == 1 %}
                <i class="text-danger">Désactivé</i>
            {% elif user.state == 2 %}
                <i class="text-warning">Archivé</i>
            {% endif %}
            </dd>
        </div>
    </dl>

    <h2>Machines enregistrées</h2>
    <a class="btn btn-primary btn-sm" role="button" href="{% url 'users:capture' %}">
        <i class="glyphicon glyphicon-flash"></i>
        Enregistrer la machine utilisée actuellement
    </a>
    <ul class="pt4">
        {% for machine in machines_list %}
            <li>{{ machine.mac_address }}</li>
            {# TODO date d'ajout #}
        {% endfor %}
    </ul>
{% endblock %}
