{% comment %}
SPDX-License-Identifier: GPL-2.0-or-later
{% endcomment %}

{% load staticfiles %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{{ request.site.name }} : {% block title %}Accueil{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# Favicon #}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicon/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "favicon/site.webmanifest" %}">
    <link rel="mask-icon" href="{% static "favicon/safari-pinned-tab.svg" %}" color="#5bbad5">
    <link rel="shortcut icon" href="{% static "favicon/favicon.ico" %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{% static "favicon/browserconfig.xml" %}">
    <meta name="theme-color" content="#ffffff">

    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static "/css/base.css" %}">

    {% bootstrap_javascript %}
</head>
<body>
<div id="wrap">
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">{{ request.site.name }}</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_staff %}
                        <li><a href="{% url "admin:index" %}">Administration</a></li>
                    {% endif %}
                    <li>
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'logout' %}?next=/">
                                <span class="glyphicon glyphicon-log-out"></span> Se déconnecter
                            </a>
                        {% else %}
                            <a href="{% url 'login' %}">
                                <span class="glyphicon glyphicon-log-in"></span> Se connecter
                            </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="main" class="container pt4">
        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}

        {% block content %}{% endblock %}
    </div>
</div>

<footer class="navbar navbar-default">
    <div class="container">
        <p>Portail captif 2016-2019 &mdash; <a href="mailto:cableurs@crans.org">Nous contactez</a></p>
    </div>
</footer>
</body>
</html>